
// === === === === === === === === ===
// Authentication page
// === === === === === === === === ===

form {
  text-align: left;
}

.auth {
  height: calc(100vh - 115px);
  margin: 0 auto;
  min-height: 100px;
  overflow-y: scroll;
}
