
// === === === === === === === === ===
// Authentication page
// === === === === === === === === ===

form {
  text-align: left;
}

.auth {
  margin: 0 auto;
  max-height: 80vh;
  max-width: 800px;
  overflow-y: scroll;
}
