
// === === === === === === === === ===
// Color Palette
// === === === === === === === === ===

$black: #121212;
$light-gray: #eee;
$board-gray: #333;
$grid-lines: rgba(255, 255, 255, .8);
$very-light-blue: #81d4fa;
$gray: #777;
