// === === === === === === === === ===
// Game History Table
// === === === === === === === === ===

p, th, td {
  font-size: 1.4em;
}

.nm-history-table {
  max-height: 80vh;
  overflow-y: scroll;
}
