// === === === === === === === === ===
// Game History Table
// === === === === === === === === ===

p, th, td {
  font-size: 1.4em;
}

.nm-history-table {
  height: calc(100vh - 115px);
  min-height: 100px;
  overflow-y: scroll;
}
