// === === === === === === === === ===
// Nav Bar and Side Nav
// === === === === === === === === ===

.nm-nav-flex-container {
  display: flex;
  justify-content: space-between;
}

.nm-logo {
  font-size: 1.6em;
}

nav {
  position: relative;
  z-index: 10;

  .sidenav-trigger {
    margin: 0;
  }
}

.sidenav {
  .nm-username {
    font-size: 1.2em;
  }

  .nm-user-rank {
    display: block;
    font-style: italic;
    padding: 0 0 .5em;
  }

  .subheader {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-top: .5em;
  }
}

.nm-user-image {
  opacity: .6;
}

.nm-user-image-bg {
  background-color: $black;
}
