@import 'normalize';
@import 'auth';
@import 'colors';
@import 'game';
@import 'history';
@import 'nav';

// === === === === === === === === ===
// Footer with restart button
// === === === === === === === === ===

body {
  text-align: center;
}

p {
  font-size: 1.4em;
}

a {
  cursor: pointer;
}

.btn {
  margin: .5em 0;
}

// === === === === === === === === ===
// Back to game button
// === === === === === === === === ===

.nm-back {
  margin: 0 auto;
}

.nm-back-wrapper {
  bottom: 0;
  left: 0;
  padding-bottom: 2em;
  position: absolute;
  width: 100%;
}
