$black: #121212;
$light-gray: #eee;
$board-gray: #333;

body {
  text-align: center;
}

p, th, td {
  font-size: 1.4em;
}

form {
  text-align: left;
}

a {
  cursor: pointer;
}

.nm-nav-flex-container {
  display: flex;
  justify-content: space-between;
}

.nm-logo {
  font-size: 1.6em;
}

.nm-user-image {
  opacity: .6;
}

.nm-user-image-bg {
  background-color: $black;
}

nav {
  .sidenav-trigger {
    margin: 0;
  }
}

.sidenav {
  .subheader {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-top: .5em;
  }
}

.gameboard {
  background: url('../../media/zwartevilt.png');
  background-size: 200%;
  border-radius: 5px;
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
  height: 320px;
  margin: auto;
  padding: 10px;
  transform: perspective(600px) rotateX(45deg);
  width: 320px;
}

.gameboard--space {
  // sass-lint:disable-block force-pseudo-nesting
  border: 2px solid $light-gray;

  &:nth-of-type(n+1):nth-of-type(-n+3) {
    // top row
    border-top: 0;
  }

  &:nth-of-type(n+7):nth-of-type(-n+9) {
    // bottom row
    border-bottom: 0;
  }

  &:nth-of-type(3n+1) {
    // left side
    border-left: 0;
  }

  &:nth-of-type(3n+3) {
    // right side
    border-right: 0;
  }
}

.gameboard--marker {
  background: none;
  border: 0;
  display: block;
  font-size: 2em;
  height: 100%;
  line-height: 100px;
  margin: 0;
  text-align: center;
  width: 100%;

  &:focus {
    background: none;
  }
}

.auth {
  margin: 0 auto;
  max-width: 800px;
}

.btn {
  margin: .5em 0;
}

.nm-back {
  margin: 0 auto;
}

.nm-back-wrapper {
  bottom: 0;
  left: 0;
  padding-bottom: 2em;
  position: absolute;
  width: 100%;
}

.nm-footer {
  bottom: 0;
  position: fixed;
  width: 100%;

  .container {
    display: flex;
    justify-content: flex-end;

    a {
      margin-bottom: 1em;
    }
  }
}
