$black: #121212;
$light-gray: #eee;

body {
  text-align: center;
}

p, th, td {
  font-size: 1.4em;
}

form {
  text-align: left;
}

a {
  cursor: pointer;
}

.nm-nav-flex-container {
  display: flex;
  justify-content: space-between;
}

.nm-logo {
  font-size: 1.6em;
}

.nm-user-image {
  opacity: .6;
}

.nm-user-image-bg {
  background-color: $black;
}

nav {
  .sidenav-trigger {
    margin: 0;
  }
}

.sidenav {
  .subheader {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-top: 0.5em;
  }
}

.gameboard {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  margin: auto;
  width: 300px;
}

.gameboard--space {
  // sass-lint:disable-block force-pseudo-nesting
  border: 2px solid $black;

  &:nth-of-type(n+1):nth-of-type(-n+3) {
    // top row
    border-top: 0;
  }

  &:nth-of-type(n+7):nth-of-type(-n+9) {
    // bottom row
    border-bottom: 0;
  }

  &:nth-of-type(3n+1) {
    // left side
    border-left: 0;
  }

  &:nth-of-type(3n+3) {
    // right side
    border-right: 0;
  }
}

.gameboard--marker {
  display: block;
  font-size: 2em;
  height: 100%;
  line-height: 100px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.auth {
  margin: 0 auto;
  max-width: 800px;
}

.btn {
  margin: .5em 0;
}

.nm-back {
  margin: 0 auto;
}

.nm-back-wrapper {
  bottom: 0;
  left: 0;
  padding-bottom: 2em;
  position: absolute;
  width: 100%;
}
